@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

// Relative file paths:
// Starting with "/" returns to the root directory and starts there
// Starting with "../" moves one directory backwards and starts there
// Starting with "../../" moves two directories backwards and starts there (and so on...)
// To move forward, just start with the first subdirectory and keep moving forward

// sass --watch sass/indexPageStyles.scss styles/indexPageStyles.css

/* NAV SETTINGS */

.navbarTop {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:rgb(219, 121, 1);
    z-index: 1000;
}

.nav-link {
    color: black;
}

/* .navItem {
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
} */

/* REST OF SETTINGS */

.a {
    text-decoration: none;
    color: rgb(0, 0, 156);
}
/* Pixel ( px ) is not scalable, it is an absolute unit. Change in the value of another element does not affect the value of absolute units. ... Element ( em ) and Root element ( rem ) are responsive units interpreted into equivalent px unit by the browser. 
While em is relative to the font-size of its direct or nearest parent, rem is only relative to the html (root) font-size.
Which to use? https://zellwk.com/blog/rem-vs-em/   */
h1 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1000;
}
@include media-breakpoint-up(sm) {
   h1 {
    font-size: 4rem;
   }
}

h2{
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: black;
    opacity: 1 !important; 
}

h3 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.2rem;
    color: black;
}

h4 {
    font-size: 1rem;
    color: black;
    border: black 1px solid;
    padding: 4px;
}

main {
    margin-top: 56px;
}

.mainContent {
    margin: 6px 16px 16px 16px;
    z-index: 1000;
}

@include media-breakpoint-up(sm) {
    .mainContent {
        margin: 16px;
    }    
}

.largerDisplayOnly {
    display: none;
}
@include media-breakpoint-up(sm) {
    .largerDisplayOnly {
        display: block;
    }
}

.imageContainer{
    height: 500px; /* 500px browser size */
    text-align: center;
    margin-bottom: 50px;
}

.widthOfIndexPage {
    max-height: 100%;
    min-width: 800px;
}

.doubleImageContainer {
    height: 250px;
    margin-bottom: 300px;
}

.sideBySide {
    max-height: 100%;
}

.indexBackground {    
    // height: 100px;
    height: 5.5rem;
	width: 100vw;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("../images/downtownSyracuse.jpg");
    opacity: 0.75;
    background-color: black;
}
@include media-breakpoint-up(sm) {
    .indexBackground {
        height: 7rem;
    }
}

.indexForeground h1 {
    opacity: 1;
}

/* Fix text  so it's unaffected by the opacity of the background image. */
/* possibly in css for h1 or indexH1 or #indexForeground */
#indexForeground {
    opacity: 1 !important; 
    z-index: 1000;
    height: 100px;
	width: 100vw;
}

.indexH1{
    color: black;
    padding: 20px;
    opacity: 1 !important; 
}

@include media-breakpoint-up(sm) {
    .indexH2 {
        padding-top: 1rem;
        font-size: 1.75rem;
    }
}

.indexH3{
    font-size: 1.15rem;
    color: black;
}
@include media-breakpoint-up(sm) {
    .indexH3 {
        font-size: 1.35rem;
    }
}

.btn {
    background-color: rgb(219, 121, 1);
    margin: 0px 2px;
    text-decoration: none;
}

.btn:hover {
	background-color: #5bc0de;
}
.btn {
	border: none;
}